.about {


    & .wrapper {
        @include tablet {
            flex-direction: column;
        }
    }

    & .col {
        position: relative;
        align-self: stretch;

        &:first-child {
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                background: var(--color-black);
                opacity: .4;
            }
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

.countdown {
    position: relative;
    background: url(../images/bg.jpg) no-repeat center;

    #timer {
        display: flex;
        justify-content: center;
        gap: 20px;

        @include mobile {
            gap: 10px;
        }

        @include phone {
            gap: 5;
        }
    }

    .time-block {
        @include squere(25%);
        max-width: 200px;
        @include flex-center;
        flex-direction: column;
        padding: 20px;
        border-radius: var(--border-radius);
        background: var(--color-black);

        @include mobile {
            padding: 10px;
        }

        @include phone {
            width: calc(25% - 5px);
            max-width: 200px;
            border-radius: var(--border-radius-small);
        }

        & span {
            display: block;
            @include fluid-text(64, 48);
            font-weight: bold;
        }

        & p {
            @include fluid-text(20, 12);
            text-transform: uppercase;
        }
    }
}