.button {
    @include reset-button;
    min-width: 140px;
    height: var(--button-height);
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 0 20px;
    @include fluid-text(16, 16);
    font-weight: 500;
    border-radius: var(--border-radius);

    border: 2px solid var(--color-purple);

    @include hover {
        color: var(--color-blue);
        background: var(--color-transparent);

    }
}