.feedback {
    & .wrapper {
        align-items: flex-start;

        @include tablet {
            flex-direction: column;
        }
    }

    & .map {
        width: 100%;

        @include phone {
            height: 400px;
        }
    }
}