.sponsors {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        @include tablet {
            justify-content: center;
        }

        @include mobile {
            gap: 10px;
        }

        & li {
            width: calc(25% - 15px);
            cursor: pointer;

            @include tablet {
                width: calc(33% - 11px);
            }

            @include mobile {
                width: calc(50% - 5px);
            }

            & a {
                position: relative;

                @include hover {
                    &::after {
                        opacity: .6;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: var(--color-purple);
                    opacity: 0;
                    transition-duration: var(--transition-duration);
                }
            }

            & img {
                width: 100%;
            }
        }
    }
}