.topics {
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: radial-gradient(22.21% 49.61% at 74.2% 37.28%, rgba(122, 93, 228, 0.25) 0%,
                rgba(122, 93, 228, 0) 100%), radial-gradient(20.07% 30.61% at 25.94% 72.28%,
                rgba(122, 93, 228, 0.25) 0%, rgba(122, 93, 228, 0) 100%), linear-gradient(0deg, #000, #000);
    }

    & .wrapper {
        align-items: flex-start;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        & li {
            padding: 10px;
            border: var(--border);
            border-radius: var(--border-radius-small);

            &:nth-child(even) {
                align-self: flex-end;
                text-align: right;
            }
        }

        & span {
            color: var(--color-gray);
        }

        & b {
            color: var(--color-purple);
        }
    }
}