html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    @include fluid-text(20, 16);

    color: var(--color-white);
    background: var(--color-black);

    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.4;

    overflow-x: hidden;

    &.lock {
        max-height: 100vh;
        overflow: hidden;
    }
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    overflow: hidden;
    flex: 1;
}

section {
    padding-block: var(--section-padding-y);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    @include reset-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include fluid-text(62, 46);
    font-weight: 400
}

h2 {
    @include fluid-text(48, 32);
    font-weight: 400
}

h3 {
    @include fluid-text(36, 24);
    font-weight: 500
}

h4 {
    @include fluid-text(16, 20);
}

h5 {
    @include fluid-text(14, 14);
}