@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}
p:last-of-type {
  margin: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
  Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-thin-webfont.woff"), url("../fonts/montserrat-thin-webfont.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extralight-webfont.woff"), url("../fonts/montserrat-extralight-webfont.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light-webfont.woff"), url("../fonts/montserrat-light-webfont.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff"), url("../fonts/montserrat-regular-webfont.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff"), url("../fonts/montserrat-medium-webfont.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold-webfont.woff"), url("../fonts/montserrat-semibold-webfont.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff"), url("../fonts/montserrat-bold-webfont.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extrabold-webfont.woff"), url("../fonts/montserrat-extrabold-webfont.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-black-webfont.woff"), url("../fonts/montserrat-black-webfont.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
:root {
  /*colors*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #a6a6a6;
  --color-purple: #7a5de4;
  --color-pink: #ebb0fc;
  --color-transparent: transparent;
  --color-shadow: rgba(22, 28, 45, 0.05);
  /*colors*/
  /*border*/
  --border: 2px solid var(--color-purple);
  --border-radius: 16px;
  --border-radius-small: 8px;
  --border-radius-large: 32px;
  /*border*/
  /*body*/
  --font-family-base: "Montserat", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 20px;
  --section-padding-y: clamp(1.25rem, 0.417rem + 3.7vw, 3.75rem);
  /*body*/
  /*button*/
  --input-height: 55px;
  --button-height: 46px;
  --icon-button-height: 30px;
  --transition-duration: 0.3s;
  /*button*/
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.col {
  width: 50%;
}
@media (max-width: 1023px) {
  .col {
    max-width: none;
  }
}

.center {
  text-align: center;
}

.decor-bottom {
  position: relative;
  margin-bottom: 60px;
}
.decor-bottom::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -32px;
  translate: -50% 0;
  width: 120px;
  height: 6px;
  background: var(--color-purple);
}

.decor-left {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
.decor-left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 6px;
  height: 100%;
  background: var(--color-purple);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  color: var(--color-white);
  background: var(--color-black);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
}
body.lock {
  max-height: 100vh;
  overflow: hidden;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section {
  padding-block: var(--section-padding-y);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(46px, 4.3055555556vw, 62px);
  font-weight: 400;
}

h2 {
  font-size: clamp(32px, 3.3333333333vw, 48px);
  font-weight: 400;
}

h3 {
  font-size: clamp(24px, 2.5vw, 36px);
  font-weight: 500;
}

h4 {
  font-size: clamp(20px, 1.1111111111vw, 16px);
}

h5 {
  font-size: clamp(14px, 0.9722222222vw, 14px);
}

@-webkit-keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 10px 0;
}
.header.fixed {
  position: fixed;
  background: var(--color-black);
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 140px;
  height: var(--button-height);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding: 0 20px;
  font-size: clamp(16px, 1.3888888889vw, 20px);
  font-weight: 700;
  color: var(--color-purple);
  border-radius: var(--border-radius-small);
  border: 2px solid var(--color-purple);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-white);
    background: var(--color-purple);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-white);
    background: var(--color-purple);
  }
}

.burger {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: relative;
  z-index: 2;
}
@media (max-width: 1023px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (hover: hover) {
  .burger:hover::before, .burger:hover::after, .burger:hover span {
    background: var(--color-purple);
  }
}
@media (hover: none) {
  .burger:active::before, .burger:active::after, .burger:active span {
    background: var(--color-purple);
  }
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 90%;
  height: 3px;
  background: var(--color-white);
  border-radius: 3px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger::before {
  top: 6px;
}
.burger::after {
  bottom: 6px;
}
.burger span {
  font-size: 0;
  width: 90%;
  height: 3px;
  background: var(--color-white);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.burger.burger--active::before, .burger.burger--active::after {
  width: 90%;
  top: 50%;
  bottom: auto;
  translate: -50% -50%;
}
.burger.burger--active::before {
  rotate: 45deg;
}
.burger.burger--active::after {
  rotate: -45deg;
}
.burger.burger--active span {
  opacity: 0;
}

.logo {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .logo:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .logo:active {
    scale: 1.1;
  }
}
.logo img {
  max-height: 60px;
}
@media (max-width: 767px) {
  .logo img {
    max-height: 50px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 1023px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 100px 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
  }
  .navigation .button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navigation.navigation--active {
    left: 0;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.navigation__list li a {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.navigation__list li a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  translate: -50% 0;
  width: 0;
  height: 2px;
  background: var(--color-purple);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .navigation__list li a:hover {
    color: var(--color-purple);
  }
  .navigation__list li a:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .navigation__list li a:active {
    color: var(--color-purple);
  }
  .navigation__list li a:active::after {
    width: 100%;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-height: 600px;
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero h1 {
  font-size: clamp(48px, 6.3888888889vw, 92px);
  font-family: "Tiny5", system-ui;
  text-transform: uppercase;
  text-shadow: 0.0222222222em -0.0222222222em var(--color-purple), 0.0444444444em -0.0444444444em var(--color-pink), -0.0222222222em 0.0222222222em var(--color-purple), -0.0444444444em 0.0444444444em var(--color-pink);
}
.hero p {
  max-width: 800px;
  text-wrap: pretty;
}
.hero .button {
  margin-top: 30px;
}

@media (max-width: 1023px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about .col {
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.about .col:first-child::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-black);
  opacity: 0.4;
}
.about .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.speakers {
  background: radial-gradient(22.21% 39.61% at 84.2% 17.28%, rgba(122, 93, 228, 0.15) 0%, rgba(122, 93, 228, 0) 100%), radial-gradient(20.07% 30.61% at 15.94% 62.28%, rgba(122, 93, 228, 0.15) 0%, rgba(122, 93, 228, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(#000), to(#000));
  background: radial-gradient(22.21% 39.61% at 84.2% 17.28%, rgba(122, 93, 228, 0.15) 0%, rgba(122, 93, 228, 0) 100%), radial-gradient(20.07% 30.61% at 15.94% 62.28%, rgba(122, 93, 228, 0.15) 0%, rgba(122, 93, 228, 0) 100%), linear-gradient(0deg, #000, #000);
}
.speakers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 20px;
}
.speakers__list li {
  position: relative;
  max-width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1;
  background: rgb(122, 93, 228);
  background: radial-gradient(circle, rgb(122, 93, 228) 0%, rgba(0, 0, 0, 0) 70%);
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .speakers__list li {
    max-width: 48%;
  }
}
@media (max-width: 560px) {
  .speakers__list li {
    max-width: none;
  }
}
.speakers__list li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(122, 93, 228);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  opacity: 0;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.speakers__list li.--active::after {
  opacity: 0.6;
}
.speakers__list li.--active h3 {
  opacity: 1;
}
.speakers__list li.--active img {
  scale: 1.1;
}
@media (hover: hover) {
  .speakers__list li:hover::after {
    opacity: 0.6;
  }
  .speakers__list li:hover h3 {
    opacity: 1;
  }
  .speakers__list li:hover img {
    scale: 1.1;
  }
}
@media (hover: none) {
  .speakers__list li:active::after {
    opacity: 0.6;
  }
  .speakers__list li:active h3 {
    opacity: 1;
  }
  .speakers__list li:active img {
    scale: 1.1;
  }
}
.speakers__list li img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  border-radius: 50%;
}
.speakers__list li h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  z-index: 1;
}

.sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  .sponsors__list {
    gap: 20px;
  }
}
.sponsors__list li {
  width: 22%;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .sponsors__list li {
    width: 31%;
  }
}
@media (max-width: 767px) {
  .sponsors__list li {
    width: 48%;
  }
}
@media (max-width: 560px) {
  .sponsors__list li {
    width: 100%;
  }
}
.sponsors__list li a {
  position: relative;
}
@media (hover: hover) {
  .sponsors__list li a:hover::after {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .sponsors__list li a:active::after {
    opacity: 0.6;
  }
}
.sponsors__list li a::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-purple);
  opacity: 0;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.sponsors__list li img {
  width: 100%;
}

.topics {
  position: relative;
  z-index: 1;
}
.topics::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(22.21% 49.61% at 74.2% 37.28%, rgba(122, 93, 228, 0.25) 0%, rgba(122, 93, 228, 0) 100%), radial-gradient(20.07% 30.61% at 25.94% 72.28%, rgba(122, 93, 228, 0.25) 0%, rgba(122, 93, 228, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(#000), to(#000));
  background: radial-gradient(22.21% 49.61% at 74.2% 37.28%, rgba(122, 93, 228, 0.25) 0%, rgba(122, 93, 228, 0) 100%), radial-gradient(20.07% 30.61% at 25.94% 72.28%, rgba(122, 93, 228, 0.25) 0%, rgba(122, 93, 228, 0) 100%), linear-gradient(0deg, #000, #000);
}
.topics .wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.topics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.topics__list li {
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius-small);
}
.topics__list li:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}
.topics__list span {
  color: var(--color-gray);
}
.topics__list b {
  color: var(--color-purple);
}

.footer {
  background: radial-gradient(32.69% 87.5% at 63.92% 95.99%, rgba(137, 137, 137, 0.2) 0%, rgba(137, 137, 137, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(var(--color-purple)), to(#040D1A));
  background: radial-gradient(32.69% 87.5% at 63.92% 95.99%, rgba(137, 137, 137, 0.2) 0%, rgba(137, 137, 137, 0) 100%), linear-gradient(0deg, var(--color-purple), #040D1A);
  padding: 30px 0;
}
@media (max-width: 1023px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.footer__navigation ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 560px) {
  .footer__navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (hover: hover) {
  .footer__navigation a:hover {
    color: var(--color-pink) !important;
  }
  .footer__navigation a:hover::after {
    background: var(--color-pink) !important;
  }
}
@media (hover: none) {
  .footer__navigation a:active {
    color: var(--color-pink) !important;
  }
  .footer__navigation a:active::after {
    background: var(--color-pink) !important;
  }
}/*# sourceMappingURL=style.css.map */